.loadBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.loadBtn {
  color: #fff;
  background-color: rgb(65, 97, 241);
  border: 1px rgb(10, 40, 86) solid;
  border-radius: 3px;
  padding: 4px;
  transition: scale 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.loadBtn:hover,
.loadBtn:focus {
  scale: 1.04;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
}
